Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2021-05, with the labels that each got.

#12 feat: merge with latest civil-damages master
  src/main/resources/camunda/case_proceeds_in_caseman.bpmn
  src/main/resources/camunda/claim_dismissed_scheduler.bpmn
  src/main/resources/camunda/notify_claim_deadline_scheduler.bpmn
  src/main/resources/camunda/polling_event_emitter_scheduler.bpmn
  src/main/resources/camunda/take_case_offline_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CaseDismissedSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CaseProceedsInCasemanTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimDeadlineSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/PollingEventEmitterSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/TakeCaseOfflineSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-12

#16 build: merged dependencies
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-16

#13 feat:Add tenant Id and deployment for prod
  bin/import-bpmn-diagram.sh
  bin/variables/load-prod-environment-variables.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-13

#17 refactor:Update jenking pipeline for camunda deployment on prod
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-17

#18 Revert "feat:Add tenant Id and deployment for prod"
  bin/import-bpmn-diagram.sh
  bin/variables/load-prod-environment-variables.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-18

#19 refactor:Update jenking pipeline for camunda deployment on prod
  Jenkinsfile_CNP
  bin/variables/load-prod-environment-variables.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-19
