Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2021-06, with the labels that each got.

#33 build: excluded -nonprod.json files from definition on preview and staging
  Jenkinsfile_CNP
  bin/import-bpmn-diagram.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-33

#37 fix: CVE-2021-22118 (CMC-1682)
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-37

#36 build(deps): Bump dependencies (CMC-1684)
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-36

#43 build(deps): Bump dependencies (CMC-1684)
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-43

#45 fix: Add authentication to pull-latest-release-asset.sh (CMC-1688)
  bin/pull-latest-release-asset.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-45

#40 tech: cleanup gradle (CMC-1500)
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-40

#48 build: added uploading camunda diagrams on demo (CMC-1680)
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-48

#49 fix: added pushing to demo from master (CMC-1680)
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-49
