Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2021-07, with the labels that each got.

#46 feat: Update create claim camunda diagram for RPA (CMC-1611)
  src/main/resources/camunda/create_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-46

#47 feat: Update notify claim camunda diagram for RPA continuous feed (CMC-1613)
  src/main/resources/camunda/notify_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-47

#51 feat: Update notify claim details camunda diagram for RPA continuous feed (CMC-1614)
  src/main/resources/camunda/notify_claim_details.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimDetailsTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-51

#52 feat: Update acknowledge claim camunda diagram for RPA continuous feed (CMC-1615)
  src/main/resources/camunda/acknowledge_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/AcknowledgeClaimTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-52

#53 feat: update full defence camunda diagram for RPA continuous feed (CMC-1616)
  src/main/resources/camunda/defendant_response.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-53

#54 feat: update inform extension camunda diagram for RPA continuous feed (CMC-1617)
  src/main/resources/camunda/inform_agreed_extension_date.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InformAgreedExtensionDateTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-54

#58 refactor: remove security scan files (CMC-1717)
  audit.json
  security.sh
  zap_hooks.py
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-58

#57 feat: update add litigation friend camunda diagram for continuous feed (CMC-1618)
  src/main/resources/camunda/add_defendant_litigation_friend.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/AddDefendantLitigationFriendTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-57
