Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2021-11, with the labels that each got.

#68 feat: notify multiparty claim details (CMC-1346)
  build.gradle
  config/owasp/suppressions.xml
  src/main/resources/camunda/notify_claim_details.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimDetailsTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-68

#83 Feat/roc 9700 - Splitting of LRspec and Damages definitions
  src/main/resources/camunda/acknowledge_claim_spec.bpmn
  src/main/resources/camunda/case_proceeds_in_caseman_spec.bpmn
  src/main/resources/camunda/create_claim_spec.bpmn
  src/main/resources/camunda/inform_agreed_extension_date_spec.bpmn
  src/main/resources/camunda/notify_claim_spec.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-83

#87 CMC-1827: Update create claim hand offline notification
  src/main/resources/camunda/create_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-87

#88 feat/CMC-1647-1648-Unrepresented-Unregistered-Stateflow
  src/main/resources/camunda/create_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-88

#91 build/bump-dependencies
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-91

#93 feat/CMC-1646: Notify_Claim_Details_RPA_Handle_Offline_Task_Latest
  src/main/resources/camunda/notify_claim_details.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimDetailsTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-93

#89 feat/CMC-1645: Notify Claim RPA Hand Offline Task + Notification
  src/main/resources/camunda/notify_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-89
