Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2022-05, with the labels that each got.

#192 Ba deploy awaits1
  build.gradle
  src/main/resources/camunda/defendant_response_spec.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-192

#185 Feature/civ 1747
  src/main/resources/camunda/end_general_application_business_process.bpmn
  src/main/resources/camunda/end_judges_makes_decision_business_process.bpmn
  src/main/resources/camunda/judge_makes_decision_general_application.bpmn
  src/main/resources/camunda/start_general_application_make_decision_business_process.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseJudgeGASpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/JudgeMakesDecisionGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-185

#176 Feature/civ 1488
  src/main/resources/camunda/general_application_response_deadline_processor.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GAResponseDeadlineProcessorTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-176

#188 Feat/civ 1230
  src/main/resources/camunda/enter_breathing_space_spec.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-188

#197 Feat/civ 1231 bs lifted camunda tasks,
  src/main/resources/camunda/breathing_space_lifted.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BreathingSpaceLiftedTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-197

#199 CIV-2465: Adding Generate sealed form in defendant response
  config/owasp/suppressions.xml
  src/main/resources/camunda/defendant_response_spec.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-199

#196 CIV-1817 Add Fee validation in the initiate_general_application.bpmn
  src/main/resources/camunda/initiate_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-196

#206 [NO ISSUE] changed to allow full and part admission responses
  src/main/resources/camunda/claimant_response_spec.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-206

#211 Feature/civ 549
  src/main/resources/camunda/general_application_response_deadline_processor.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GAResponseDeadlineProcessorTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-211

#210 CIV-122 notification bpmn
  src/main/resources/camunda/generate_DJ_form.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-210

#193 feat/CIV-1879 LiP stays online following create claim
  src/main/resources/camunda/create_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-193
