Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2022-07, with the labels that each got.

#242 Inform Agree Extension Date For Spec RPA
  config/owasp/suppressions.xml
  src/main/resources/camunda/inform_agreed_extension_date_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InformAgreedExtensionDateSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-242

#247 Fix/add new roles
  Jenkinsfile_CNP
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-247

#245 feat/1v2 RPA should be notified whenever a defendant responds
  src/main/resources/camunda/defendant_response_spec.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-245

#250 CIV-1325 notifications
  src/main/resources/camunda/generate_DJ_SDO_form.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-250

#249 Feat/civ 2649 update
  src/main/resources/camunda/defendant_response_spec.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-249

#258 Update Chart.yaml
  charts/civil-camunda/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-258

#261 Fix/renamed basic access
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-261

#259 update add roles script
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-259

#267 Feature/civ 2631
  src/main/resources/camunda/judge_makes_decision_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/JudgeMakesDecisionGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-267
