Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2022-10, with the labels that each got.

#320 Feat/civ 4600 email defendant
  src/main/resources/camunda/defendant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-320

#309 Feature/civ 2801 2
  src/main/resources/camunda/case_proceeds_in_caseman.bpmn
  src/main/resources/camunda/claim_dismissed.bpmn
  src/main/resources/camunda/claimant_response.bpmn
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/main/resources/camunda/defendant_response.bpmn
  src/main/resources/camunda/defendant_response_spec.bpmn
  src/main/resources/camunda/notify_claim.bpmn
  src/main/resources/camunda/notify_claim_details.bpmn
  src/main/resources/camunda/take_case_offline.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CaseProceedsInCasemanTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimDismissedTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/TakeCaseOfflineTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-309

#330 adding stale config for stale pr
  .github/workflows/stale.yml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-330

#333 CIV-5270: Enhance Pipeline (Staging)
  charts/civil-camunda/Chart.yaml
  charts/civil-camunda/values.aat.template.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-333

#338 fix/bump dev memory limits
  charts/civil-camunda/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-338

#256 feat/civ:1610
  src/main/resources/camunda/apply_noc_decision.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplyNocDecisionTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-256

#335 updated exclusions command to remove SDO-HNL to just HNL
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-335

#347 CIV-4838: Fix for CVE-2022-24329
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-347

#359 access profile "payment-access" added
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-359
