Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2022-02, with the labels that each got.

#130 Update multi party flags for data store image
  charts/civil-camunda/values.aat.template.yaml
  charts/civil-camunda/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-130

#131 Feature/civ 664
  src/main/resources/camunda/initiate_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseGASpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-131

#136 Clear helm release on successful build
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-136

#123 General apps Camunda Flow
  src/main/resources/camunda/end_general_application_business_process.bpmn
  src/main/resources/camunda/initiate_general_application.bpmn
  src/main/resources/camunda/notify_claim.bpmn
  src/main/resources/camunda/start_general_application_business_process.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseGASpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-123

#140 build/bump-charts: Update java charts to v3.7.2
  charts/civil-camunda/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-140

#134 Added support for notifying respondent 2 solicitor when litigation fr…
  src/main/resources/camunda/add_defendant_litigation_friend.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/AddDefendantLitigationFriendTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-134
