Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2022-11, with the labels that each got.

#367 Feat/civ 3601 pip letter
  charts/civil-camunda/values.aat.template.yaml
  charts/civil-camunda/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-367

#370 Fix CVE
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-370

#381 Civ 5093
  src/main/resources/camunda/general_application_order_made_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GAOrderMadeSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-381

#322 Feat/civ 2738
  src/main/resources/camunda/hearing_fee_check_scheduler.bpmn
  src/main/resources/camunda/hearing_fee_unpaid.bpmn
  src/main/resources/camunda/trial_ready_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingFeeCheckSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingFeeUnpaidTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-322

#357 Feat/civ 2669 notification of hearing
  src/main/resources/camunda/hearing_process.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingProcessTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-357

#343 Feat/civ 2738test
  src/main/resources/camunda/hearing_fee_check_scheduler.bpmn
  src/main/resources/camunda/take_case_offline_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingFeeCheckSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingFeeUnpaidTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-343

#394 civil-5245-camunda-spec-changes
  src/main/resources/camunda/create_claim_spec_after_payment.bpmn
  src/main/resources/camunda/create_service_request.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateServiceRequestTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-394

#387 Feat/civ 2898
  src/main/resources/camunda/evidence_upload_notification.bpmn
  src/main/resources/camunda/evidence_upload_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/EvidenceUploadNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/EvidenceUploadSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-387

#393 DO NOT MERGE - release: postpone clam deadline scheduler to 3am
  src/main/resources/camunda/notify_claim_deadline_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimDeadlineSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-393

#399 DO NOT MERGE: Revert release: postpone clam deadline scheduler to 3am"
  src/main/resources/camunda/notify_claim_deadline_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimDeadlineSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-399

#386 CIV-2356: Updated camunda flow
  src/main/resources/camunda/create_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-386

#409 Disabling of CP cron jobs
  src/main/resources/camunda/hearing_fee_check_scheduler.bpmn
  src/main/resources/camunda/trial_ready_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingFeeCheckSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-409

#392 Civ 2513 cos work flow
  src/main/resources/camunda/create_claim.bpmn
  src/main/resources/camunda/notify_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-392

#415 corrected trial ready schduler business process name
  src/main/resources/camunda/trial_ready_scheduler.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-415

#402 release: postpone clam deadline scheduler to 3am
  src/main/resources/camunda/notify_claim_deadline_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimDeadlineSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-402

#414 Civ 4135
  src/main/resources/camunda/notify_claim_details.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimDetailsTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-414
