Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2022-06, with the labels that each got.

#207 Feature/civ 1690
  src/main/resources/camunda/start_general_application_make_decision_business_process.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseJudgeGASpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/JudgeMakesDecisionGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-207

#216 upgrade and fix vulnerability
  build.gradle
  charts/civil-camunda/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-216

#217 added lrd url for civil service
  charts/civil-camunda/values.aat.template.yaml
  charts/civil-camunda/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-217

#227 Config for judicial ref data
  charts/civil-camunda/values.aat.template.yaml
  charts/civil-camunda/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-227

#233 feat/CIV-2649, seal claim form changes in camunda bpmn diagram
  src/main/resources/camunda/defendant_response_spec.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-233

#228 L rv lr master
  config/owasp/suppressions.xml
  src/main/resources/camunda/defendant_response_spec.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-228
