Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2022-01, with the labels that each got.

#120 InitiateGeneralApplicationTest
  Jenkinsfile_CNP
  bin/utils/ccd-import-definition.sh
  build.gradle
  charts/civil-camunda/Chart.yaml
  charts/civil-camunda/values.aat.template.yaml
  charts/civil-camunda/values.preview.template.yaml
  src/main/resources/camunda/create_claim.bpmn
  src/main/resources/camunda/end_general_application_business_process.bpmn
  src/main/resources/camunda/initiate_general_application.bpmn
  src/main/resources/camunda/notify_claim.bpmn
  src/main/resources/camunda/notify_claim_details.bpmn
  src/main/resources/camunda/start_general_application_business_process.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseGASpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-120

#122 Feat/cmc 1871 upon merged
  src/main/resources/camunda/defendant_response.bpmn
  src/main/resources/camunda/notify_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-122

#124 create sdo camunda diagram
  src/main/resources/camunda/create_sdo.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateSDOTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-124

#128 Chore: add nightlyTests
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-128
