Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2022-04, with the labels that each got.

#155 add jackson databind dependency to address cve
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-155

#147 Notifying respondent 2 solicitor about time extension
  config/owasp/suppressions.xml
  src/main/resources/camunda/inform_agreed_extension_date.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InformAgreedExtensionDateTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-147

#159 Feat/cmc 1677 1679 2018 rpa
  config/owasp/suppressions.xml
  src/main/resources/camunda/defendant_response.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-159

#162 feat/CMC-1354: adding notification for respondent 2 in claim dismissed
  src/main/resources/camunda/claim_dismissed.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimDismissedTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-162

#154 update create_sdo diagram
  src/main/resources/camunda/create_sdo.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateSDOTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-154

#146 CIV-1228 change
  src/main/resources/camunda/create_claim_spec.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-146

#145 CIV-121 - To generate Default Judgment claim form
  src/main/resources/camunda/generate_DJ_form.bpmn
  src/main/resources/camunda/generate_spec_DJ_form.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-145

#179 Temp fix security check
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-179

#184 Run api spec tests in preview
  Jenkinsfile_CNP
  build.gradle
  charts/civil-camunda/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-184

#175 Case Taken Offline Schedular enhanced to cater for multiparty 1 v 2
  src/main/resources/camunda/take_case_offline.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/TakeCaseOfflineTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-175

#189 Feat/civ 1508
  src/main/resources/camunda/claimant_response_spec.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-189
