Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2022-09, with the labels that each got.

#290 Fixing master to talk to https urls
  Jenkinsfile_CNP
  bin/variables/load-staging-environment-variables.sh
  charts/civil-camunda/values.aat.template.yaml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-290

#293 Upgrading charts version
  charts/civil-camunda/Chart.yaml
  charts/civil-camunda/values.aat.template.yaml
  charts/civil-camunda/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-293

#263 Feat/civ 3263
  build.gradle
  src/main/resources/camunda/claimant_response.bpmn
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-263

#276 CIV-2636: Email sent to defendant LiP
  src/main/resources/camunda/create_claim_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-276

#266 Add dj test
  Jenkinsfile_CNP
  build.gradle
  charts/civil-camunda/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-266

#278 Civ 3403- Payment Failure changes
  src/main/resources/camunda/initiate_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-278

#289 CIV-4632: camunda change
  src/main/resources/camunda/claim_dismissed.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimDismissedTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-289

#303 Chore: fix pipeline
  charts/civil-camunda/values.aat.template.yaml
  charts/civil-camunda/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-303

#300 CIV-4632 - Claim dismissal after notify claim
  src/main/resources/camunda/claim_dismissed.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimDismissedTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-300

#301 added hearing-schedule-access
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-301

#308 Fix/CVE 2022 25647
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-308

#297 CIV-4571: Contact details change LR email notification
  src/main/resources/camunda/defendant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantContactDetailsChangeCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-297

#296 CIV-2786
  src/main/resources/camunda/judge_makes_decision_general_application.bpmn
  src/main/resources/camunda/start_general_application_make_decision_business_process.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/JudgeMakesDecisionGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-296

#264 civ-3521
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-264

#310 adding new bot config for closing stale PR
  .github/stale.yml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-310

#316 CIV-4599: Defendant Response - Claimant LR email notifications
  src/main/resources/camunda/defendant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-316

#318 FIX: CVE-2022-38752
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-318

#317 build/bump-dependency-versions
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-317

#319 fix/exclude HNL files on preview
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-319
