Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2022-12, with the labels that each got.

#390 CIV-6106 - Remove Dependencies on User Profile
  Jenkinsfile_CNP
  charts/civil-camunda/values.aat.template.yaml
  charts/civil-camunda/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-390

#412 cosintegration
  Jenkinsfile_CNP
  src/main/resources/camunda/create_claim.bpmn
  src/main/resources/camunda/notify_claim.bpmn
  src/main/resources/camunda/notify_claim_details.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-412

#374 Feat/civ 2216 generate hearing documents
  src/main/resources/camunda/hearing_process.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingProcessTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-374

#427 switch on cos
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-427

#429 Postpone claim deadline scheduler to 5AM
  src/main/resources/camunda/notify_claim_deadline_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimDeadlineSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-429

#430 revert scheduler changes
  src/main/resources/camunda/notify_claim_deadline_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimDeadlineSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-430

#436 Stopping poller till 9th Jan
  src/main/resources/camunda/polling_event_emitter_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/PollingEventEmitterSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-436

#432 CIV-6413: Added logic for not notifying unrepresented defendant1
  src/main/resources/camunda/case_proceeds_in_caseman.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CaseProceedsInCasemanTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-432

#443 CIV-5967 - Remove Bitnami Dependency
  charts/civil-camunda/Chart.yaml
  charts/civil-camunda/values.aat.template.yaml
  charts/civil-camunda/values.preview.template.yaml
  charts/civil-camunda/values.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-443

#389 CIV-5336 first slice of create lip claim diagram
  src/main/resources/camunda/create_lip_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimLipTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-389
