Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2022-08, with the labels that each got.

#271 bump the ccd chart to 8.0.17
  charts/civil-camunda/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-271

#260 CIV-3405
  src/main/resources/camunda/initiate_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-260

#262 CIV-2693-2991 staff access profiles for GA
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-262

#273 Updatedependencies
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-273

#280 Fixing PRs to talk to https urls
  Jenkinsfile_CNP
  bin/add-roles.sh
  bin/variables/load-preview-environment-variables.sh
  build.gradle
  charts/civil-camunda/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-280

#257 CIV-3408:Added new task for additional payment in camunda process
  src/main/resources/camunda/start_general_application_make_decision_business_process.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/JudgeMakesDecisionGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-257

#277 CIV-3664 Rename Judge makes decision to Make decision for reusability
  src/main/resources/camunda/judge_makes_decision_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/JudgeMakesDecisionGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-277

#287 Add backstage configuration file
  catalog-info.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-287
