Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2023-11, with the labels that each got.

#760 CIV-10624 add passwords secrets
  Jenkinsfile_CNP
  charts/civil-camunda/values.aat.template.yaml
  charts/civil-camunda/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-760

#759 CIV-6393 - Lift breathing space changes
  src/main/resources/camunda/breathing_space_lifted_lip.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BreathingSpaceLiftedLipTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-759

#733 CIV-8291 Manual determination
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-733

#780 Feat/civ 9025 notification ccj
  src/main/resources/camunda/request_judgement_by_admission.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RequestJudgementByAdmissionTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-780

#783 Feat/civ 9112 rpa mediation lip
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-783

#767 CIV-5023 - updated schedulers to remove 2024 limit
  src/main/resources/camunda/bundle_creation_scheduler.bpmn
  src/main/resources/camunda/decision_outcome_scheduler.bpmn
  src/main/resources/camunda/evidence_upload_scheduler.bpmn
  src/main/resources/camunda/hearing_fee_check_scheduler.bpmn
  src/main/resources/camunda/trial_ready_check_scheduler.bpmn
  src/main/resources/camunda/trial_ready_notification_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BundleCreationSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DecisionOutcomeSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/EvidenceUploadSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingFeeCheckSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/TrialReadyCheckSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/TrialReadyNotificationSchedulerTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-767

#735 CIV-10792 CoS email not sending for 1 v 2 (LiP/LR) cases
  src/main/resources/camunda/case_proceeds_in_caseman.bpmn
  src/main/resources/camunda/case_proceeds_in_caseman_spec.bpmn
  src/main/resources/camunda/take_case_offline.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CaseProceedsInCasemanTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-735

#784 CIV-8938 claimant intent submit function change state to judicial referral
  src/main/resources/camunda/claimant_response_cui.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-784

#785 CIV-0000 Post case progression tasks to be merged
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/main/resources/camunda/request_judgement_by_admission.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RequestJudgementByAdmissionTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-785

#762 CIV-10810 Remove NoC/CoS flags
  src/main/resources/camunda/create_claim.bpmn
  src/main/resources/camunda/create_claim_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-camunda-pr-762

#734 CIV-8939 - Claimant Intent: Submit Function - Change state to ALL_FINAL_ORDERS_ISSUED
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-734

#742 CIV-10568 reconfigure GA task on location transfer
  src/main/resources/camunda/transfer_online_case_in_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/TransferOnlineCaseInGATest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-742

#758 CIV-8147 Sign settlement agreement: Submit Function Back end
  src/main/resources/camunda/defendant_sign_settlement_agreement.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantSignSettlementAgreementTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-758

#788 CIV-11363 Add scheduler to retrigger cases
  src/main/resources/camunda/retrigger_cases_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RetriggerCasesSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-788

#795 CIV-0000 removing_cui_from_exclusion
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-795

#769 CIV-8241 Manual Determination Lip Notifications
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-769
