Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2023-05, with the labels that each got.

#565 CIV-7137 Part Admit States Paid - CYA and Submit
  config/owasp/suppressions.xml
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-565

#603 CIV-0000 fixing CVE
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-603

#606 CIV-0000 Camunda Deployments from separate Camunda Process repo and tenant id …
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-606

#605 CIV-7357 mediation successful diagram
  src/main/resources/camunda/mediation_successful.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/MediationSuccessfulTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-605

#608 CIV-7155 Legal Rep ITP - Part Admit States Paid with No Mediation
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-608

#610 CIV-7151 ITP Part Admit States Paid Claimant Agrees Notification
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-610

#589 CIV-4525 - Notification flow for generated orders
  src/main/resources/camunda/generate_order_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateOrderNotificationTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-589

#614 CIV-0000 remove remaining rpa tests
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseGAAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseJudgeGASpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimServiceRequestTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateServiceRequestTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GaHearingScheduledTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/JudgeMakesDecisionGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-614

#590 CIV-0000 updated bundle creation scheduler timing
  src/main/resources/camunda/bundle_creation_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BundleCreationSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-590

#623 CIV-0000 pipeline_fix 25May
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-623

#604 CIV-8038 Clean up AssignCaseToUserForSpecHandler (2/4)
  src/main/resources/camunda/create_claim_spec.bpmn
  src/main/resources/camunda/create_service_request.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateServiceRequestTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-604

#624 CIV-0000 changes to set environment value
  Jenkinsfile_CNP
  bin/variables/load-ithc-environment-variables.sh
  bin/variables/load-perftest-environment-variables.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-624

#618 CIV-7606 - Welsh - Bilingual language preference - Submit Notifications
  src/main/resources/camunda/upload_translated_document_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyTranslatedDocumentUploadedTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-618

#613 CIV-8399 only in mediation should go down the in mediation flow
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-613

#622 CIV-7361 mediation unsuccessful notifications
  src/main/resources/camunda/mediation_unsuccessful.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/MediationUnsuccessfulTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-622
