Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2023-08, with the labels that each got.

#685 CIV-9929 Upgrade Java and gradle
  Dockerfile
  build.gradle
  config/checkstyle/checkstyle.xml
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-685

#655 CIV-3565 CVP Join Link Scheduler
  config/owasp/suppressions.xml
  src/main/resources/camunda/hearing_cvp_link_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingCvpLinkSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-655

#686 CIV-5339 - Release 2 - LIP v LIP Update Access Profile JSON
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-686

#682 CIV-9253 update create service request claim for bulk claims
  src/main/resources/camunda/create_service_request_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimServiceRequestTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-682

#676 CIV-9123 - Added option for unrepresented defendant to trial ready schema
  config/owasp/suppressions.xml
  src/main/resources/camunda/trial_ready_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/TrialReadyNotificationTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-676

#678 CIV-9915 remove notifications (the relevant ones will be added in a different story)
  src/main/resources/camunda/create_lip_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimLipTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-678

#675 CIV-7733 Hearing Notice: Send notification to LIP when hearing notice created
  build.gradle
  src/main/resources/camunda/generate_hearing_notice.bpmn
  src/main/resources/camunda/hearing_process.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateHearingNoticeTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingProcessTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-675

#688 CIV-8918 Claim Submission - Assign Claim
  src/main/resources/camunda/create_lip_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimLipTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-688

#668 CIV-8067 Camunda changes for final Order Lip update notification
  src/main/resources/camunda/generate_order_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateOrderNotificationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-668

#692 CIV-1048 add claimant dq generation to mediation journey
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-692

#697 CIV-00000 Changing naming pattern for prs
  .github/workflows/main.yml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-697

#674 CIV-7301 Add Lip flag hearing fee unpaid
  src/main/resources/camunda/hearing_fee_unpaid.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingFeeUnpaidTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-674

#691 CIV-9667 bundle notification defendant lip
  src/main/resources/camunda/bundle_creation_notification.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-691
