Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2023-06, with the labels that each got.

#616 CIV-6787 update to apply_noc_decision.bpmn for new tasks
  src/main/resources/camunda/apply_noc_decision.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplyNocDecisionTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-616

#612 CIV-7529 Manual Determination RPA
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-612

#629 CIV-8122 - Defendant Submission Notification - Welsh
  src/main/resources/camunda/defendant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-629

#626 CIV-7575 Adjourn or Vacate Hearing Fee Scenarios
  src/main/resources/camunda/initiate_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-626

#584 CIV-7978 SDO Toggle Cleanup
  src/main/resources/camunda/claimant_response.bpmn
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-584

#630 CIV-7789 - RPA Mediation
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-630

#632 CIV-0000 Stopping poller for the weekend
  config/owasp/suppressions.xml
  src/main/resources/camunda/polling_event_emitter_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/PollingEventEmitterSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-632

#633 CIV-0000 Stopping poller till 20th June
  src/main/resources/camunda/polling_event_emitter_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/PollingEventEmitterSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-633

#628 CIV-8310 Draft application for scenario with and Without Notice
  src/main/resources/camunda/initiate_general_application_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationAfterPaymentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-628

#642 CIV-0000 Stopping errOR for multiple attempts 16thJune
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/PollingEventEmitterSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-642

#621 CIV-6330 automated hearing notice scheduler
  src/main/resources/camunda/automated-hearing-notice.bpmn
  src/main/resources/camunda/spec-automated-hearing-notice-scheduler.bpmn
  src/main/resources/camunda/unspec-automated-hearing-notice-scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/SpecAutomatedHearingNoticeSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UnspecAutomatedHearingNoticeSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-621

#637 CIV-8884 - CUI: create and link access roles
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-637

#644 CIV-0000 Delete automated-hearing-notice.bpmn
  src/main/resources/camunda/automated-hearing-notice.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-644

#646 CIV-6330 Hearing notice scheduler update
  src/main/resources/camunda/spec-automated-hearing-notice-scheduler.bpmn
  src/main/resources/camunda/unspec-automated-hearing-notice-scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/SpecAutomatedHearingNoticeSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UnspecAutomatedHearingNoticeSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-646

#634 CIV-8420 part admit pay immediately notification
  src/main/resources/camunda/claimant_response_spec.bpmn
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-634

#640 CIV-8961 Polling event Emitter
  src/main/resources/camunda/general_application_failed_event_emitter_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GeneralApplicationFailedEventEmitterSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-640

#647 CIV-6380 RPA for ITP Additional Build
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/main/resources/camunda/request_judgement_by_admission.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RequestJudgementByAdmissionTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-647
