Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2023-07, with the labels that each got.

#652 CIV-0000 Update Chart.yaml
  charts/civil-camunda/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-652

#649 CIV-9414 Added respondent response bpmn process flow
  src/main/resources/camunda/respondent_response_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RespondentResponseGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-649

#639 CIV-8931 Rename GA business process
  config/owasp/suppressions.xml
  src/main/resources/camunda/start_business_process_in_general_application.bpmn
  src/main/resources/camunda/start_initiate_ga_business_process_in_civil.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseGAAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseGASpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseJudgeGASpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GeneralApplicationJudgeMakesOrderAfterHearingTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-639

#631 CIV-8406 - SDO Bulk Print Defendant
  src/main/resources/camunda/create_sdo.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateSDOTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-631

#645 CIV-9344 automated hearing notice process
  src/main/resources/camunda/generate_hearing_notice.bpmn
  src/main/resources/camunda/start_hearing_notice_business_process.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateHearingNoticeTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-645

#641 CIV-5793 add pdf response
  src/main/resources/camunda/defendant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-641

#656 CIV-9383 Generate Draft document for zero fee
  src/main/resources/camunda/initiate_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-656

#657 CIV-9513 Remove cui exclusion
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-657

#654 CIV-9596 block respondent_response_general_application.bpmn until civ…
  src/main/resources/camunda/respondent_response_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RespondentResponseGeneralApplicationTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-654

#663 CIV-7995 Add hmc enabled variable
  charts/civil-camunda/Chart.yaml
  charts/civil-camunda/values.aat.template.yaml
  charts/civil-camunda/values.preview.template.yaml
  charts/civil-camunda/values.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-663

#651 CIV-7154 Set Up camunda
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-651

#661 CIV-8957 generate lip dq
  src/main/resources/camunda/defendant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-661

#658 CIV-7897 - Update add-roles.sh
  bin/add-roles.sh
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-658

#660 CIV-9364 Fixing Camunda changes for Demages multiclaims
  src/main/resources/camunda/claimant_response.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-660

#672 CIV-9806 - Generate Defendant Response PDF and DQs when Welsh has been selected
  src/main/resources/camunda/defendant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-672

#664 CIV-9730 fixed Hearing initiation is failing for LR vs Lip claim
  src/main/resources/camunda/hearing_process.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingProcessTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-664

#677 CIV-0000 Cleanup CVE issues
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-677
