Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2023-12, with the labels that each got.

#791 CIV-0000 Bulk tasks to Master
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/main/resources/camunda/create_lip_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimLipTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-791

#802 CIV-0000 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-802

#770 CIV-8997 Create draft claim form
  src/main/resources/camunda/create_lip_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimLipTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-770

#790 CIV-9024 Claimant Intent: Judgement by admission RPA
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-790

#794 CIV-8169 sign settlement agreement submit function notifications
  src/main/resources/camunda/defendant_sign_settlement_agreement.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantSignSettlementAgreementTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-794

#806 CIV-8791 Claimant notification
  src/main/resources/camunda/create_claim_spec_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecAfterPaymentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-806

#807 CIV-11473 Populate Case Management Location on completion of all defendant response journeys
  src/main/resources/camunda/claimant_response_cui.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-807

#815 CIV-11950 Remove RPA task for CUI journey
  src/main/resources/camunda/create_claim_spec_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecAfterPaymentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-815

#818 CIV-0000 changes to renovate
  .github/renovate.json
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-818
