Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2023-09, with the labels that each got.

#679 CIV-9355 additional conditions to pass to judicial referral
  src/main/resources/camunda/claimant_response.bpmn
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-679

#701 CIV-10126 Set Up Lip Claim Issue After Payment
  src/main/resources/camunda/create_claim_spec_after_payment.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-701

#705 CIV-0000 Rename on the path because of confusion
  src/main/resources/camunda/create_claim_spec_after_payment.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-705

#704 CIV-10128 Claimant Response notification
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-704

#673 CIV-9407 Trial Arrangements: Email Notification to Citizen on Completion of Trial Arrangements by the Defendant LiP
  src/main/resources/camunda/applicant_trial_ready_notify_others.bpmn
  src/main/resources/camunda/respondent1_trial_ready_notify_others.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplicantTrialReadyNotifyOthersTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/Respondent1TrialReadyNotifyOthersTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-673

#706 CIV-6431 Debt Respite Translation
  src/main/resources/camunda/enter_breathing_space_lip.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/EnterBreathingSpaceLipTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-706

#713 CIV-0000 Update Jenkinsfile_CNP
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-713

#712 CIV-9804 Added new BPMN flows for Response to Judge Directions for uploading a document to Main case
  src/main/resources/camunda/respond_to_addln_info_general_application.bpmn
  src/main/resources/camunda/respond_to_directions_general_application.bpmn
  src/main/resources/camunda/respond_to_written_rep_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RespondToAddlnInfoGeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RespondToDirectionsGeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RespondToWrittenRepGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-712

#711 CIV-8821 - Claimant Intent: Generic notification to defendant
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-711

#681 CIV-8322 - Tell us you've settled - Back End: Claim settled
  src/main/resources/camunda/claim_settled_lip.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimSettledLiPTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-681

#716 CIV-9156 Claim intent claimant notification
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-716

#720 CIV-6719 Notification Debt Respite Submit Function
  src/main/resources/camunda/enter_breathing_space_lip.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/EnterBreathingSpaceLipTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-720

#696 CIV-8998 -Added notification event for create LiP claim flow
  src/main/resources/camunda/create_lip_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimLipTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-696
