Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2023-03, with the labels that each got.

#526 CIV-5160 - RPA Changes for DJ spec and unspec claims
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
  src/main/resources/camunda/generate_DJ_SDO_form.bpmn
  src/main/resources/camunda/generate_spec_DJ_form.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-526

#528 CIV-7037 refactored code
  config/owasp/suppressions.xml
  src/main/resources/camunda/initiate_general_application_after_payment.bpmn
  src/main/resources/camunda/judge_makes_decision_general_application.bpmn
  src/main/resources/camunda/start_general_application_business_process.bpmn
  src/main/resources/camunda/start_general_application_make_decision_business_process.bpmn
  src/main/resources/camunda/start_initiate_general_application_business_process.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseGAAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseGASpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseJudgeGASpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-528

#530 CIV-7448 Enable DJ, Spec, Sdo, Cos api tests
  build.gradle
  charts/civil-camunda/Chart.yaml
  charts/civil-camunda/values.aat.template.yaml
  charts/civil-camunda/values.preview.template.yaml
  charts/civil-camunda/values.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-530

#531 CIV-6775 Environment variable added
  charts/civil-camunda/values.aat.template.yaml
  charts/civil-camunda/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-531

#486 CIV-4306 Payment of hearing fee
  src/main/resources/camunda/hearing_process.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingProcessTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-486

#464 CIV-1916 extend response deadline
  src/main/resources/camunda/extend_response_deadline.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ExtendResponseDeadlineTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-464

#533 CIV-000 SNI-3295 new scheduler for resend notify rpa events
  src/main/resources/camunda/resend_notify_rpa_events_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ResendNotifyRPASchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-533

#438 CIV-6352 bundle scheduler changes
  src/main/resources/camunda/bundle_creation_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BundleCreationSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-438

#539 CIV-000 SNI-3295 Removing RPA resending functionality
  src/main/resources/camunda/resend_notify_rpa_events_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ResendNotifyRPASchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-539

#538 CIV-6042 Bundle notifications for parties
  src/main/resources/camunda/bundle_creation_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BundleCreationNotificationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-538

#560 CIV-TASK Adding suppression
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-560

#558 CIV-7227 Enforcing conventions on branch names and commit messages
  .git-config/hooks/commit-msg
  .git-config/hooks/pre-commit
  .github/workflows/main.yml
  README.md
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-558
