Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2023-10, with the labels that each got.

#726 CIV-10808 allow to submit claimant response with full defence and ful…
  src/main/resources/camunda/claimant_response_cui.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-726

#730 CIV-0000 fix cve issue
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-730

#722 CIV-10686 LR Claimant Intention Notification
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-722

#725 CIV-10823 new role added for pcq
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-725

#727 CIV-10391 Respondent1 response deadline date update
  src/main/resources/camunda/create_claim_spec_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecAfterPaymentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-727

#732 CIV-8941 - added In Mediation flow in claimant response journey.
  charts/civil-camunda/Chart.yaml
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-732

#721 CIV-10519 add claimant dq generation to claimant response
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-721
