Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2023-04, with the labels that each got.

#563 CIV-TASK Adding suppression for CVE-2023-20860
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-563

#566 Update multiple dependencies
  .github/workflows/stale.yml
  Dockerfile
  build.gradle
Labels: dependencies, ns:civil, prd:civil, rel:civil-camunda-pr-566

#537 CIV-4305 Trial Ready Document
  config/owasp/suppressions.xml
  src/main/resources/camunda/applicant_trial_ready_notify_others.bpmn
  src/main/resources/camunda/respondent1_trial_ready_notify_others.bpmn
  src/main/resources/camunda/respondent2_trial_ready_notify_others.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplicantTrialReadyNotifyOthersTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/Respondent1TrialReadyNotifyOthersTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/Respondent2TrialReadyNotifyOthersTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-537

#562 CIV-7540 ga judge final order with unit test
  src/main/resources/camunda/general_application_judge_makes_order_after_hearing.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseGASpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GeneralApplicationJudgeMakesOrderAfterHearingTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-562

#572 CIV-6580 Adapt notifications to document process
  src/main/resources/camunda/generate_trial_ready_document_applicant.bpmn
  src/main/resources/camunda/generate_trial_ready_document_respondent1.bpmn
  src/main/resources/camunda/generate_trial_ready_document_respondent2.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateTrialReadyDocumentApplicantTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateTrialReadyDocumentRespondent1Test.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateTrialReadyDocumentRespondent2Test.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-572

#576 CIV-0000 downgrading def processor version
  bin/utils/process-definition.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-576

#559 CIV-6668 add tenant-id to import-bpmn-diagram.sh
  bin/import-bpmn-diagram.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-559

#564 CIV-7534 rpa-defendant-response-manual-det-camunda-state-change
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-564

#556 CIV-6540 lr manual determination notifications
  charts/civil-camunda/Chart.yaml
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-556

#571 CIV-7528 - Welsh - Bilingual language preference - NOTIFICATIONS SUPRESSION Defendant Submit with Welsh Flag
  src/main/resources/camunda/defendant_response_cui.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-571

#591 CIV-0000 add wa role profile
  bin/add-roles.sh
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-591

#570 CIV-7140 add in mediation state flow, check whether the state is in m…
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-570

#593 CIV-6915 restore test
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-593

#598 CIV-0000 Fix why pipeline failing
  charts/civil-camunda/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-598
