Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2023-01, with the labels that each got.

#451 Task names updated
  src/main/resources/camunda/hearing_process.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-451

#450 postpone clam deadline scheduler to 3am
  src/main/resources/camunda/notify_claim_deadline_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimDeadlineSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-450

#452 Revert Deadline scheduler
  src/main/resources/camunda/notify_claim_deadline_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimDeadlineSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-452

#411 CIV-3381 Response Deadline Extension
  config/owasp/suppressions.xml
  src/main/resources/camunda/inform_agreed_extension_date_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InformAgreedExtensionDateSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-411

#442 CIV-5369: Exclude CUI-nonprod
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-442

#388 Marker commit
  charts/civil-camunda/Chart.yaml
  src/main/resources/camunda/evidence_upload_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/EvidenceUploadSchedulerTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-388

#445 CIV-5337: Notification Email
  src/main/resources/camunda/create_lip_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimLipTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-445

#473 CIV-5433 - Add PR Title validation and Code Owners
  .github/CODEOWNERS
  .github/workflows/main.yml
  charts/civil-camunda/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-473

#475 CIV-5433 - Remove test line and bump java chart
  charts/civil-camunda/Chart.yaml
  charts/civil-camunda/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-475

#406 CIV-6204 PBAv3
  config/owasp/suppressions.xml
  src/main/resources/camunda/create_claim_after_payment.bpmn
  src/main/resources/camunda/create_claim_spec_after_payment.bpmn
  src/main/resources/camunda/create_service_request.bpmn
  src/main/resources/camunda/create_service_request_claim.bpmn
  src/main/resources/camunda/hearing_fee_check_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimServiceRequestTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateServiceRequestTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-406

#465 CIV-4519 Update InformAgreedExtensionDateSpec
  src/main/resources/camunda/inform_agreed_extension_date_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InformAgreedExtensionDateSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-465

#477 CIV-6644 Clear pods always and enableHelm
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-477

#478 CIV-5433 - Exclude Dependabot from lint check
  .github/workflows/main.yml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-478

#479 CIV-6013 Added new event to notify defendants
  src/main/resources/camunda/ga_hearing_scheduled_access.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GaHearingScheduledTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-479

#286 CIV-1616 NoC Notify
  src/main/resources/camunda/apply_noc_decision.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplyNocDecisionTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-286
