Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2024-09, with the labels that each got.

#1073 CIV-14748 - Revert "CIV-14748 Add 5 Minutes Delay Before Notifications"
  src/main/resources/camunda/amend_restitch_bundle.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/AmendRestitchBundleTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1073

#1046 DTSCCI-611 remove obsolete processes
  src/main/resources/camunda/create_claim.bpmn
  src/main/resources/camunda/create_claim_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1046

#1074 CIV-14877 Update modified Judgment
  src/main/resources/camunda/notify_judgment_varied_determination_of_means.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyJudgmentVariedDeterminationOfMeansTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1074

#1076 CIV-14811 Add Camunda task JUDGMENT_PAID_IN_FULL
  src/main/resources/camunda/judgement_paid_in_full.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/JudgementPaidInFullTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1076

#1068 CIV-14812 Update set aside Camunda
  src/main/resources/camunda/set_aside_judgment_request.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifySetAsideJudgmentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/SetAsideJudgmentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1068

#1085 CIV-0000 - Added Dashboard notification tasks.
  src/main/resources/camunda/upload_translated_claimant_intention_document_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimantIntentionDocumentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1085

#1081 CIV-15040 LipvLip - Update JBA to RTL through CJES Service
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1081

#1077 CIV-14406 Dashboard Notification - GA for LiPs - Pay application fee
  src/main/resources/camunda/initiate_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1077

#1080 CIV-15041 LipvLip Welsh - Update JBA to RTL through CJES Service
  src/main/resources/camunda/upload_translated_claimant_intention_document_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimantIntentionDocumentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1080

#1078 CIV-14421 - Dashboard Notification - GA for LiPs - request more info
  src/main/resources/camunda/judge_makes_decision_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/JudgeMakesDecisionGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1078

#1082 CIV-14404 Added new event for Dashboard Notifications
  src/main/resources/camunda/initiate_general_application_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationAfterPaymentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1082

#1088 CIV-0000 Bulk cui sprint branch
  src/main/resources/camunda/initiate_general_application_after_payment.bpmn
  src/main/resources/camunda/judge_makes_decision_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/JudgeMakesDecisionGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1088

#1083 CIV-14408 - (CIV-14407) Dashboard Notification - GA for LiPs - Other parties request change (URGENT/Non-Urgent)
  src/main/resources/camunda/general_application_response_deadline_processor.bpmn
  src/main/resources/camunda/initiate_general_application_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GAResponseDeadlineProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationAfterPaymentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1083

#1084 CIV-14413 Dashboard Notify hearing scheduled
  src/main/resources/camunda/ga_hearing_scheduled_access.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GaHearingScheduledTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1084

#1091 CIV-15218 add new process to update case after hwf additional fee
  src/main/resources/camunda/ga_hwf_add_update.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GaHwfAddUpdateTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1091

#1090 CIV-14430 Dashboard notification for GA Lip Hwf
  src/main/resources/camunda/notify_ga_applicant_hwf_outcome.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GaHwfNotifyTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1090

#1070 CIV-14829 dismiss case dashboard notification
  src/main/resources/camunda/dismiss_case.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DismissCaseTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1070

#1058 CIV-14750 Dashboard notification case stayed
  src/main/resources/camunda/stay_case.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/StayCaseTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1058

#1087 CIV-15043 LipvLip Dashboard notification for JO issued
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/main/resources/camunda/upload_translated_claimant_intention_document_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimantIntentionDocumentTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-1087

#1096 CIV-0000 Bulk sp4 to master
  src/main/resources/camunda/general_application_judge_makes_order_after_hearing.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GeneralApplicationJudgeMakesOrderAfterHearingTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1096

#1098 CIV-0000 Sprint branch JO - CIV-15043
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/main/resources/camunda/upload_translated_claimant_intention_document_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimantIntentionDocumentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1098
