Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2024-11, with the labels that each got.

#1132 CIV-15229 Dashboard notification stay lifted
  src/main/resources/camunda/stay_lifted.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/StayLiftedTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1132

#1137 CIV-14568 Update CUI task list
  src/main/resources/camunda/end_general_application_business_process.bpmn
  src/main/resources/camunda/end_judges_makes_decision_business_process.bpmn
  src/main/resources/camunda/initiate_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GeneralApplicationJudgeMakesOrderAfterHearingTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/JudgeMakesDecisionGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1137

#1134 CIV-15115 show translated docs on exui
  src/main/resources/camunda/upload_translated_document_ga_lip_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyGATranslatedUploadedDocumentsTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-1134

#1144 DTSCCI-1171 - Remove 2026 from cron cycle
  src/main/resources/camunda/defendant_response_deadline_check_scheduler.bpmn
  src/main/resources/camunda/full_admit_pay_immediately_no_payment_scheduler.bpmn
  src/main/resources/camunda/settlement_no_defendant_response_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseDeadlineCheckSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/FullAdmitPayImmediatelyNoPaymentSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/SettlementNoResponseFromDefendantSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1144

#1147 DTSCCI-813 ccd defs dynamic case type
  bin/utils/process-definition.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1147

#1129 CIV-15226 Manage Stay WA Task Scheduler
  src/main/resources/camunda/manage_stay_wa_task_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ManageStayWATaskSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1129

#1154 DTSCCI-947 fix cron expression
  src/main/resources/camunda/general_application_response_deadline_processor.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GAResponseDeadlineProcessorTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1154

#1152 CIV-15835 - 'Application is offline' dashboard notification not shown to applicant
  src/main/resources/camunda/case_proceeds_in_caseman.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CaseProceedsInCasemanTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1152

#1146 CIV-15746 RPA feed changes for DJ
  src/main/resources/camunda/generate_non_divergent_spec_DJ_form.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateNonDivergentSpecDJFormTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1146

#1150 CIV-15748 RPA changes - JBA live feed
  src/main/resources/camunda/judgment_by_admission_non_divergent_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RequestNonDivergentJudgmentByAdmissionTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1150

#1157 CIV-15958 DEFENDANT_NOC_ONLINE
  src/main/resources/camunda/apply_noc_decision_defendant_lip.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplyNocDecisionDefendantLipTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1157

#1159 CIV-16012 - Gateway condition is not evaluated properly for GA for LiP's BPMN's
  src/main/resources/camunda/take_case_offline.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/TakeCaseOfflineTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1159
