Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2024-04, with the labels that each got.

#913 CIV-12887 Lip Defendant1 Set Aside Letter process
  src/main/resources/camunda/notify_set_aside_judgment_request.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifySetAsideJudgmentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-913

#934 DTSCCI-153 add pipeline to ensure processes have a name
  .github/workflows/validate.yml
  src/main/resources/camunda/notify_set_aside_judgment_request.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-934

#915 CIV-13110 Set aside notification LiP
  src/main/resources/camunda/notify_set_aside_judgment_request.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifySetAsideJudgmentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-915

#929 CIV-11299 - Add dashboard tasks to hearing fee unpaid
  src/main/resources/camunda/hearing_fee_unpaid.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingFeeUnpaidTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-929

#935 CIV-13259 Notify Defendent Trial Ready
  src/main/resources/camunda/applicant_trial_ready_notify_others.bpmn
  src/main/resources/camunda/generate_trial_ready_document_applicant.bpmn
  src/main/resources/camunda/generate_trial_ready_document_respondent1.bpmn
  src/main/resources/camunda/respondent1_trial_ready_notify_others.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplicantTrialReadyNotifyOthersTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateTrialReadyDocumentApplicantTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateTrialReadyDocumentRespondent1Test.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/Respondent1TrialReadyNotifyOthersTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-935

#942 CIV-0000 import ccd definition sh errors on smoke test
  Jenkinsfile_CNP
  bin/utils/ccd-import-definition.sh
  charts/civil-camunda/values.aat.template.yaml
  charts/civil-camunda/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-942

#941 CIV-0000 Mediation unsuccessful tasks
  src/main/resources/camunda/mediation_unsuccessful.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/MediationUnsuccessfulTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-941

#936 CIV-11300 Dashboard Notification Hearing Scheduled
  src/main/resources/camunda/hearing_process.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingProcessTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-936

#938 CIV-11698 Notify Claimant LiP Solicitor
  src/main/resources/camunda/apply_noc_decision_lip.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplyNocDecisionLipTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-938

#933 CIV-11301 dashboard notification trial arrangements
  src/main/resources/camunda/trial_ready_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/TrialReadyNotificationTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-933

#937 CIV-11303 - Add Dashboard changes for Bundle Creation
  src/main/resources/camunda/bundle_creation_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BundleCreationNotificationTest.java
Labels: ns:civil, prd:civil

#951 DTSCCI-051 Update CAMUNDA URL
  charts/civil-camunda/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-951

#945 CIV-13283 - Dashboard toggle flag added
  src/main/resources/camunda/applicant_trial_ready_notify_others.bpmn
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/main/resources/camunda/create_claim_spec_after_payment.bpmn
  src/main/resources/camunda/defendant_response_cui.bpmn
  src/main/resources/camunda/generate_spec_DJ_form.bpmn
  src/main/resources/camunda/generate_trial_ready_document_applicant.bpmn
  src/main/resources/camunda/generate_trial_ready_document_respondent1.bpmn
  src/main/resources/camunda/hearing_fee_unpaid.bpmn
  src/main/resources/camunda/inform_agreed_extension_date_spec.bpmn
  src/main/resources/camunda/mediation_successful.bpmn
  src/main/resources/camunda/request_judgement_by_admission.bpmn
  src/main/resources/camunda/respondent1_trial_ready_notify_others.bpmn
  src/main/resources/camunda/upload_translated_document_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplicantTrialReadyNotifyOthersTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateTrialReadyDocumentApplicantTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateTrialReadyDocumentRespondent1Test.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingFeeUnpaidTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InformAgreedExtensionDateSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/MediationSuccessfulTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyTranslatedDocumentUploadedTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RequestJudgementByAdmissionTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/Respondent1TrialReadyNotifyOthersTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-945

#955 CIV-13283 Dashboard service flag
  src/main/resources/camunda/mediation_unsuccessful.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/MediationUnsuccessfulTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-955

#957 CIV-0000 - modified mediation unsuccessful bpmn and test.
  src/main/resources/camunda/mediation_unsuccessful.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/MediationUnsuccessfulTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-957

#950 CIV-0000 Add dashboard notification service tasks for CUI journeys
  src/main/resources/camunda/applicant_trial_ready_notify_others.bpmn
  src/main/resources/camunda/bundle_creation_notification.bpmn
  src/main/resources/camunda/claim_settled_lip.bpmn
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/main/resources/camunda/create_claim_spec_after_payment.bpmn
  src/main/resources/camunda/create_lip_claim.bpmn
  src/main/resources/camunda/defendant_response_cui.bpmn
  src/main/resources/camunda/defendant_response_deadline_check.bpmn
  src/main/resources/camunda/defendant_response_deadline_check_scheduler.bpmn
  src/main/resources/camunda/defendant_sign_settlement_agreement.bpmn
  src/main/resources/camunda/extend_response_deadline.bpmn
  src/main/resources/camunda/full_admit_pay_immediately_no_payment_scheduler.bpmn
  src/main/resources/camunda/generate_spec_DJ_form.bpmn
  src/main/resources/camunda/generate_trial_ready_document_applicant.bpmn
  src/main/resources/camunda/generate_trial_ready_document_respondent1.bpmn
  src/main/resources/camunda/hearing_fee_unpaid.bpmn
  src/main/resources/camunda/hearing_process.bpmn
  src/main/resources/camunda/inform_agreed_extension_date_spec.bpmn
  src/main/resources/camunda/mediation_successful.bpmn
  src/main/resources/camunda/mediation_unsuccessful.bpmn
  src/main/resources/camunda/notify_claimant_hwf_outcome.bpmn
  src/main/resources/camunda/request_judgement_by_admission.bpmn
  src/main/resources/camunda/respondent1_trial_ready_notify_others.bpmn
  src/main/resources/camunda/settlement_no_defendant_response_scheduler.bpmn
  src/main/resources/camunda/trial_ready_notification.bpmn
  src/main/resources/camunda/upload_translated_claimant_intention_document_notify.bpmn
  src/main/resources/camunda/upload_translated_document_claim_issue_notify.bpmn
  src/main/resources/camunda/upload_translated_document_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplicantTrialReadyNotifyOthersTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BundleCreationNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimSettledLiPTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimLipTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseDeadlineCheckSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseDeadlineCheckTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantSignSettlementAgreementTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/FullAdmitPayImmediatelyNoPaymentSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateTrialReadyDocumentApplicantTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateTrialReadyDocumentRespondent1Test.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingFeeUnpaidTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingProcessTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InformAgreedExtensionDateSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/MediationSuccessfulTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/MediationUnsuccessfulTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimantHwFOutComeTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyTranslatedDocumentUploadedTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RequestJudgementByAdmissionTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/Respondent1TrialReadyNotifyOthersTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/SettlementNoResponseFromDefendantSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/TrialReadyNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimIssueDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimantIntentionDocumentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-950

#959 CIV-0000 - set Dashboard schedulers to 2026
  src/main/resources/camunda/defendant_response_deadline_check_scheduler.bpmn
  src/main/resources/camunda/full_admit_pay_immediately_no_payment_scheduler.bpmn
  src/main/resources/camunda/settlement_no_defendant_response_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseDeadlineCheckSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/FullAdmitPayImmediatelyNoPaymentSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/SettlementNoResponseFromDefendantSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-959

#909 DTSCCI-026 Multi track claims not showing as offline on CCD history tab
  src/main/resources/camunda/claimant_response.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-909

#961 CIV-0000 Dashboard flag
  src/main/resources/camunda/bundle_creation_notification.bpmn
  src/main/resources/camunda/hearing_process.bpmn
  src/main/resources/camunda/trial_ready_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BundleCreationNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingProcessTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/TrialReadyNotificationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-961

#948 CIV-13268 Hearing Fee Paid
  src/main/resources/camunda/notify_lip_generic_template.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-948

#964 DTSCCI-139 Use latest definition processor
  bin/utils/process-definition.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-964

#962 DTSCCI-060 Reduce CVEs
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-962

#967 DTSCCI-201 java helm chart 5.2
  Jenkinsfile_CNP
  bin/wait-for.sh
  charts/civil-camunda/Chart.yaml
  charts/civil-camunda/values.aat.template.yaml
  charts/civil-camunda/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-967

#952 CIV-13187 Notification for notice of change defendant side
  src/main/resources/camunda/apply_noc_decision_defendant_lip.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplyNocDecisionDefendantLipTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-952

#956 CIV-8734 Stop RPA for Default Judgment against Defendant LR/LIP
  src/main/resources/camunda/generate_non_divergent_spec_DJ_form.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateNonDivergentSpecDJFormTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-956

#971 DTSCCI-017 changing the poller back to 5min intervals
  src/main/resources/camunda/polling_event_emitter_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/PollingEventEmitterSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-971

#944 CIV-11304 Order Made
  src/main/resources/camunda/create_sdo.bpmn
  src/main/resources/camunda/generate_order_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateSDOTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateOrderNotificationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-944

#958 CIV-13408 dashboard notification for help with fees in review
  src/main/resources/camunda/apply_help_with_hearing_fee.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplyHelpWithHearingFeeTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-958

#970 CIV-11306 camunda changes
  src/main/resources/camunda/create_sdo.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateSDOTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-970

#973 CIV-0000 Dashboard changes
  src/main/resources/camunda/create_sdo.bpmn
  src/main/resources/camunda/generate_order_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateSDOTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateOrderNotificationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-973

#974 DTSCCI-017 enable polling event
  src/main/resources/camunda/polling_event_emitter_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/PollingEventEmitterSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-974

#977 DTSCCI-017 enable polling event
  src/main/resources/camunda/polling_event_emitter_scheduler.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-977

#968 CIV-13434 Add claimant notification for defendant response
  src/main/resources/camunda/defendant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-968
