Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2024-03, with the labels that each got.

#876 CIV-12691 Create Claimant dashboard notifications for issue claim
  src/main/resources/camunda/create_claim_spec_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecAfterPaymentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-876

#875 CIV-12693 Create defendant dashboard notification for Issue claim
  src/main/resources/camunda/create_claim_spec_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecAfterPaymentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-875

#877 CIV-10543 pointing_to_v15
  charts/civil-camunda/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-877

#878 CIV-12997 - Update AHN burndown timers
  src/main/resources/camunda/spec-automated-hearing-notice-scheduler.bpmn
  src/main/resources/camunda/unspec-automated-hearing-notice-scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/SpecAutomatedHearingNoticeSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UnspecAutomatedHearingNoticeSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-878

#881 CIV-13015 Create defendant notifications when LRVLIP claim
  src/main/resources/camunda/create_claim_spec_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecAfterPaymentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-881

#889 CIV-12742 - added dashboard notification handler.
  src/main/resources/camunda/generate_spec_DJ_form.bpmn
  src/main/resources/camunda/request_judgement_by_admission.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RequestJudgementByAdmissionTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-889

#888 CIV-12758 Dashboard notification - Claim settled (Defendant)
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/main/resources/camunda/upload_translated_claimant_intention_document_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimantIntentionDocumentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-888

#884 CIV-12792 Add dashboard notification service tasks
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/main/resources/camunda/upload_translated_claimant_intention_document_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimantIntentionDocumentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-884

#879 CIV-12800 dashboard notification part remission hwf granted
  src/main/resources/camunda/initiate_general_application_after_payment.bpmn
  src/main/resources/camunda/notify_claimant_hwf_outcome.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimantHwFOutComeTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-879

#891 CIV-12962 Add scheduler for full admit pay immediately no payment
  src/main/resources/camunda/full_admit_pay_immediately_no_payment_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/FullAdmitPayImmediatelyNoPaymentSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-891

#890 CIV-12960 Add scheduler for settlement no defendant response
  src/main/resources/camunda/settlement_no_defendant_response_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/SettlementNoResponseFromDefendantSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-890

#894 CIV-12747 Generate Dashboard Notification in CUI for CCJ requested by defendant
  src/main/resources/camunda/generate_spec_DJ_form.bpmn
  src/main/resources/camunda/request_judgement_by_admission.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RequestJudgementByAdmissionTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-894

#873 CIV-12614 - payment ccd update
  src/main/resources/camunda/notify_lip_generic_template.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-873

#902 CIV-13065 Claimant pays claim fee over the phone
  src/main/resources/camunda/upload_translated_document_claim_issue_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimIssueDocumentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-902

#900 CIV-13119 - Dashboard Defendant Response Part Admit pay immediately
  src/main/resources/camunda/defendant_response_cui.bpmn
  src/main/resources/camunda/upload_translated_document_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyTranslatedDocumentUploadedTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-900

#914 CIV-13298 Camunda error during ClaimantIntention Full defence DisputetAllnges
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-914

#898 CIV-12895 defendant sign settlement agreement
  src/main/resources/camunda/defendant_sign_settlement_agreement.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantSignSettlementAgreementTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-898

#911 CIV-13134 Record judgment notification
  src/main/resources/camunda/record_judgment_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RecordJudgmentDeterminationMeansNotificationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-911

#904 CIV-13072 dr more time requested
  src/main/resources/camunda/extend_response_deadline.bpmn
  src/main/resources/camunda/inform_agreed_extension_date_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InformAgreedExtensionDateSpecTest.java
Labels: ns:civil, prd:civil

#906 CIV-13071 Claimant dashboard defendant requests more time
  bin/utils/process-definition.sh
  src/main/resources/camunda/inform_agreed_extension_date_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InformAgreedExtensionDateSpecTest.java
Labels: ns:civil, prd:civil

#910 CIV-12943 claim settled defendant notification
  src/main/resources/camunda/claim_settled_lip.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimSettledLiPTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-910

#905 CIV-13149 Add dashboard notifications for mediation successful
  src/main/resources/camunda/mediation_successful.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/MediationSuccessfulTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-905

#903 CIV-13109 Email notifications: Claimant/Defendant LR - set aside Judgment made in error
  src/main/resources/camunda/notify_set_aside_judgment_request.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifySetAsideJudgmentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-903

#916 CIV-13070 claimant has accepted the repayment plan ccj
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-916

#919 CIV-13202 Defendant Deadline Passed
  src/main/resources/camunda/defendant_response_deadline_check.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimSettledLiPTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseDeadlineCheckTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-919

#918 CIV-13201 - Scheduler for Defendant Response Deadline Check
  src/main/resources/camunda/defendant_response_deadline_check.bpmn
  src/main/resources/camunda/defendant_response_deadline_check_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimSettledLiPTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseDeadlineCheckSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseDeadlineCheckTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-918

#908 CIV-13171 Email notifications Judgment varied following Determination of Means
  src/main/resources/camunda/notify_judgment_varied_determination_of_means.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyJudgmentVariedDeterminationOfMeansTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-908
