Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2024-01, with the labels that each got.

#809 CIV-11603 Fast Track Claimant Intent
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-809

#738 CIV-10782 Bulk print hearing
  src/main/resources/camunda/generate_order_notification.bpmn
  src/main/resources/camunda/hearing_process.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingProcessTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-738

#834 CIV-0000 using old gateway image as latest is broken
  charts/civil-camunda/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-834

#792 CIV-11161 Docmosis: Manual Determination -"Claimant's Response"
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-792

#826 CIV-11523 Revoking access to claim for claimant LiP after NoC and and representative assigned
  src/main/resources/camunda/apply_noc_decision_lip.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplyNocDecisionLipTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-826

#801 CIV-11820 Part Admit Immediately Flow have incorrect states
  config/owasp/suppressions.xml
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-801

#824 CIV-11209 Apply help with hearing fee
  src/main/resources/camunda/apply_help_with_hearing_fee.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplyHelpWithHearingFeeTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-824

#831 CIV-0000 Sprint pi32 s5 t4 to master
  config/owasp/suppressions.xml
  src/main/resources/camunda/apply_noc_decision_lip.bpmn
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/main/resources/camunda/defendant_sign_settlement_agreement.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplyNocDecisionLipTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantSignSettlementAgreementTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-831

#828 CIV-11697 Notify Defendant LiP claimant is now represented
  src/main/resources/camunda/apply_noc_decision_lip.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplyNocDecisionLipTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-828

#800 CIV-10543 pointing_to_v15 CAMUNDA
  charts/civil-camunda/Chart.yaml
  charts/civil-camunda/values.aat.template.yaml
  charts/civil-camunda/values.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-800

#796 CIV-9040 Redetermination - Interlocutory Judgement PDF (docmosis)
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-796

#844 CIV-12291 Enable RPA for LR vs Lip claims
  src/main/resources/camunda/create_claim_spec_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecAfterPaymentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-844

#841 CIV-0000 sprint to master
  src/main/resources/camunda/apply_noc_decision_lip.bpmn
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplyNocDecisionLipTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-841

#827 CIV-7829 adding generic lip generic template process
  src/main/resources/camunda/notify_lip_generic_template.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-827

#822 CIV-5304 Claimant Copy and sealed claim form PDF
  src/main/resources/camunda/create_claim_spec_after_payment.bpmn
  src/main/resources/camunda/generate_hearing_notice.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateHearingNoticeTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-822

#829 CIV-10909 request for reconsideration notification
  src/main/resources/camunda/notify_decision_on_reconsideration_request.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyDecisionOnReconsiderationRequestTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-829

#849 CIV-0000 Stopping bundling scheduler for stitching flexible db release
  src/main/resources/camunda/bundle_creation_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BundleCreationSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-849

#850 CIV-0000 Bulk branch
  src/main/resources/camunda/create_claim_spec_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecAfterPaymentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-850

#852 CIV-00000 Team2b temp release
  src/main/resources/camunda/notify_lip_generic_template.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-852

#823 CIV-11119 generate judgment by admission
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/main/resources/camunda/request_judgement_by_admission.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RequestJudgementByAdmissionTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-823

#847 CIV-11546 - CIV-11548 Claim Issue Journey Changes for Bilingual Claim Issue Language.
  src/main/resources/camunda/create_claim_spec_after_payment.bpmn
  src/main/resources/camunda/upload_translated_document_claim_issue_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimIssueDocumentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-847

#851 CIV-0000 Stopping bundling scheduler for stitching flexible db release Revert
  src/main/resources/camunda/bundle_creation_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BundleCreationSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-851

#848 CIV-11244 Reconsideration Upheld decision output
  src/main/resources/camunda/notify_decision_on_reconsideration_request.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyDecisionOnReconsiderationRequestTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-848

#840 CIV-11541 - added new task to handle claim state changes.
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/main/resources/camunda/upload_translated_document_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyTranslatedDocumentUploadedTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-840
