Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2024-08, with the labels that each got.

#1044 CIV-14593 New BPMN To Send Notification After Bundle Is Re-stitched
  src/main/resources/camunda/amend_restitch_bundle.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/AmendRestitchBundleTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1044

#1049 CIV-12772 Application Fee - Claimant Notification - For all caseworker events
  src/main/resources/camunda/end_ga_hwf_notify_process.bpmn
  src/main/resources/camunda/notify_ga_applicant_hwf_outcome.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseGASpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GaHwfNotifyTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1049

#1048 CIV-14595 adding tasks for claimant and defendant dashboard notification
  src/main/resources/camunda/amend_restitch_bundle.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/AmendRestitchBundleTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1048

#1051 CIV-14783 - Full defence, full dispute: Claimant does not proceed with the claim
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1051

#1045 DTSCCI-000 SNI-5921 disallow upload additional event to create wa task
  src/main/resources/camunda/end_doc_upload_general_application_business_process.bpmn
  src/main/resources/camunda/upload_additional_doc_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseGAAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadAdditionalDocumentsGenAppTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-camunda-pr-1045

#1052 CIV-14881 - Send SDO order to LiP Claimant.
  src/main/resources/camunda/create_sdo.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateSDOTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1052

#1053 CIV-14813 Updated task list for claimant and defendant
  src/main/resources/camunda/end_general_application_business_process.bpmn
  src/main/resources/camunda/initiate_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1053

#1054 CIV-14748 Generate Email Notification When Case Is Stayed
  src/main/resources/camunda/stay_case.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/StayCaseTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1054

#1056 CIV-14827 and 28 notification when dismiss case
  src/main/resources/camunda/dismiss_case.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DismissCaseTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1056

#1059 CIV-14748 Add 5 Minutes Delay Before Notifications
  src/main/resources/camunda/amend_restitch_bundle.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/AmendRestitchBundleTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1059

#1061 CIV-14869 CJES Service : RECORD_JUDGMENT
  src/main/resources/camunda/amend_restitch_bundle.bpmn
  src/main/resources/camunda/dismiss_case.bpmn
  src/main/resources/camunda/record_judgment_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/AmendRestitchBundleTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DismissCaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RecordJudgmentDeterminationMeansNotificationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1061

#1062 CIV-14809 Add Camunda task EDIT_JUDGMENT
  src/main/resources/camunda/notify_judgment_varied_determination_of_means.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyJudgmentVariedDeterminationOfMeansTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1062

#1063 CIV-14804 Changes to call to CJES for Default Judgment update
  src/main/resources/camunda/generate_non_divergent_spec_DJ_form.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateNonDivergentSpecDJFormTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1063

#1060 CIV-14807 Add Camunda task: Judgment by Admission
  src/main/resources/camunda/judgment_by_admission_non_divergent_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RequestNonDivergentJudgmentByAdmissionTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1060

#1069 CIV-0000 sprint branch for CJES services: CIV-14869, 14809, 14804, 14807
  src/main/resources/camunda/generate_non_divergent_spec_DJ_form.bpmn
  src/main/resources/camunda/judgment_by_admission_non_divergent_spec.bpmn
  src/main/resources/camunda/notify_judgment_varied_determination_of_means.bpmn
  src/main/resources/camunda/record_judgment_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateNonDivergentSpecDJFormTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyJudgmentVariedDeterminationOfMeansTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RecordJudgmentDeterminationMeansNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RequestNonDivergentJudgmentByAdmissionTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1069
