Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2024-05, with the labels that each got.

#965 CIV-10495 Update DJ non divergent spec bpmn
  src/main/resources/camunda/generate_non_divergent_spec_DJ_form.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateNonDivergentSpecDJFormTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-965

#976 CIV-12875 Defendant LiP PIN in Post Letter Judgment recorded following Determination of Means
  src/main/resources/camunda/record_judgment_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RecordJudgmentDeterminationMeansNotificationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-976

#969 DTSCCI-060 Reduce CVEs number
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-969

#983 CIV-12877 Changes to DJ Non-Divergent Spec Post PIN in Letter flow
  src/main/resources/camunda/generate_non_divergent_spec_DJ_form.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateNonDivergentSpecDJFormTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-983

#984 CIV-13728 update decision reconsideration camunda
  src/main/resources/camunda/notify_decision_on_reconsideration_request.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyDecisionOnReconsiderationRequestTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-984

#988 CIV-13498 Defendant submits in Welsh Dashboard for Claimant
  src/main/resources/camunda/defendant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-988

#963 CIV-12873 Defendant LR Cover Letter - Default Judgment
  src/main/resources/camunda/generate_non_divergent_spec_DJ_form.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateNonDivergentSpecDJFormTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-963

#989 CIV-13495 Dashboard notification - Case proceeds offline
  src/main/resources/camunda/case_proceeds_in_caseman.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CaseProceedsInCasemanTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-989

#986 CIV-12877 Changes to DJ Non-Divergent Spec Post PIN in Letter flow
  src/main/resources/camunda/generate_non_divergent_spec_DJ_form.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateNonDivergentSpecDJFormTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-986

#979 CIV-13272 Stop RPA for Judgment by Admission against Defendant LR/LIP
  src/main/resources/camunda/judgement_by_admission_non_divergent_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RequestNonDivergentJudgementByAdmissionTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-979

#993 CIV-11832 Evidence Uploaded
  src/main/resources/camunda/evidence_uploaded.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/EvidenceUploadedTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-993

#985 CIV-12893 Defendant LiP dashboard notifications: Default judgment issued
  src/main/resources/camunda/generate_non_divergent_spec_DJ_form.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateNonDivergentSpecDJFormTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-985

#994 CIV-13691 Added respondent dashboard notification for claim issue for…
  src/main/resources/camunda/upload_translated_document_claim_issue_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimIssueDocumentTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-994

#999 CIV-13752 Claimant LiP dashboard notifications: set aside after court error
  src/main/resources/camunda/notify_set_aside_judgment_request.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifySetAsideJudgmentTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-999

#991 CIV-13546 Claimant LiP dashboard notifications Default judgment issued
  src/main/resources/camunda/generate_non_divergent_spec_DJ_form.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateNonDivergentSpecDJFormTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-991

#998 CIV-13753 Set Aside Error DashboardNotification LIP
  src/main/resources/camunda/notify_set_aside_judgment_request.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifySetAsideJudgmentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-998
