Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2024-10, with the labels that each got.

#1099 CIV-15062 - Add ctsc roles
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1099

#1102 CIV-15204 - put amend restitch behind feature toggle
  src/main/resources/camunda/amend_restitch_bundle.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/AmendRestitchBundleTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1102

#1108 CIV-0000 Added wiremock to camunda preview pipeline
  Jenkinsfile_CNP
  charts/civil-camunda/Chart.yaml
  charts/civil-camunda/values.aat.template.yaml
  charts/civil-camunda/values.preview.template.yaml
  charts/civil-camunda/values.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1108

#1106 CIV-15042 Do not take case offline when pay immediately is done on claimant response
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1106

#1113 CIV-0000 - RPA task for Lip v lip claims
  src/main/resources/camunda/create_claim_spec_after_payment.bpmn
  src/main/resources/camunda/upload_translated_document_claim_issue_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimIssueDocumentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1113

#1072 CIV-14191 - change claimant dashboard event
  src/main/resources/camunda/generate_hearing_notice.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateHearingNoticeTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-1072

#1110 CIV-13793 LiP dashboard notification JBA issued
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/main/resources/camunda/judgment_by_admission_non_divergent_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RequestNonDivergentJudgmentByAdmissionTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1110

#1111 CIV-15290 cosc set co sc application status to active on successful payment of application fee
  src/main/resources/camunda/initiate_cosc_application_after_payment.bpmn
  src/main/resources/camunda/initiate_general_application_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateCoSCApplicationAfterPaymentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1111

#1112 CIV-15086 COSC Proof of Debt Scheduler
  src/main/resources/camunda/ga_proof_of_debt_scheduler.bpmn
  src/main/resources/camunda/process_cosc_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GAProofOfDebtSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ProcessCoscApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1112

#1105 DTSCCI-966 Update-ccd-import-files
  bin/pull-latest-ccd-files.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1105

#1117 CIV-0000 sprint branch CIV-15290, CIV-15086
  src/main/resources/camunda/ga_proof_of_debt_scheduler.bpmn
  src/main/resources/camunda/initiate_cosc_application_after_payment.bpmn
  src/main/resources/camunda/initiate_general_application_after_payment.bpmn
  src/main/resources/camunda/process_cosc_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GAProofOfDebtSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateCoSCApplicationAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ProcessCoscApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1117

#1115 CIV-15331 Bulk sp5
  src/main/resources/camunda/apply_noc_decision_defendant_lip.bpmn
  src/main/resources/camunda/case_proceeds_in_caseman.bpmn
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/main/resources/camunda/generate_spec_DJ_form.bpmn
  src/main/resources/camunda/request_judgement_by_admission.bpmn
  src/main/resources/camunda/take_case_offline.bpmn
  src/main/resources/camunda/upload_translated_claimant_intention_document_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CaseProceedsInCasemanTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/TakeCaseOfflineTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-1115

#1114 CIV-15080 Cosc dashboard notification
  src/main/resources/camunda/initiate_cosc_application_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateCoSCApplicationAfterPaymentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1114

#1116 CIV-15087 and 15088 COSC Check And Mark Defendant Paid In Full
  src/main/resources/camunda/process_cosc_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ProcessCoscApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1116

#1131 CIV-15084 Generate COSC document
  src/main/resources/camunda/initiate_cosc_application_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateCoSCApplicationAfterPaymentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1131

#1125 CIV-15081 Dashboard Notification Certificate Generated COSC
  src/main/resources/camunda/initiate_cosc_application_after_payment.bpmn
  src/main/resources/camunda/process_cosc_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateCoSCApplicationAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ProcessCoscApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1125

#1100 CIV-15151 added camunda flow for notifyinf
  src/main/resources/camunda/end_general_application_business_process_without_WA_task.bpmn
  src/main/resources/camunda/upload_translated_document_ga_lip_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseGASpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyGATranslatedUploadedDocumentsTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1100

#1124 CIV-15108 New notification service tasks
  src/main/resources/camunda/upload_translated_document_ga_lip_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyGATranslatedUploadedDocumentsTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1124

#1135 CIV-15449 Generate COSC document from Scheduler
  src/main/resources/camunda/process_cosc_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ProcessCoscApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1135

#1128 CIV-15268 hearing documents on further hearing
  src/main/resources/camunda/generate_order_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateOrderNotificationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1128

#1136 CIV-15279 Trigger email notification for claimant for cosc
  src/main/resources/camunda/initiate_cosc_application_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateCoSCApplicationAfterPaymentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1136
