Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2024-12, with the labels that each got.

#1140 CIV-15113 Post translated doc tasks
  src/main/resources/camunda/upload_translated_document_ga_lip_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyGATranslatedUploadedDocumentsTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-1140

#1163 DTSCCI-000 Rename process
  src/main/resources/camunda/apply_noc_decision_defendant_lip.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1163

#1139 CIV-15377 - Configure Role Assignments Url
  charts/civil-camunda/values.preview.template.yaml
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-1139

#1164 CIV-15995 JbA Live Feed LipvLip
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/main/resources/camunda/upload_translated_claimant_intention_document_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimantIntentionDocumentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1164

#1167 CIV-15759 And CIV-15761: Add new rpa event: 600 COSC & CRON Job triggers 600 Event Code
  src/main/resources/camunda/initiate_cosc_application_after_payment.bpmn
  src/main/resources/camunda/process_cosc_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateCoSCApplicationAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ProcessCoscApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1167

#1160 CIV-15612 Confirm order review
  src/main/resources/camunda/confirm_order_review.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ConfirmOrderReviewTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1160

#1166 CIV-15767 Set Aside Add RPA Live Feed
  src/main/resources/camunda/set_aside_judgment_request.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/SetAsideJudgmentTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-1166
