Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2024-06, with the labels that each got.

#1007 CIV-13792 Defendant LiP dashboard notifications: judgment by admission issued
  src/main/resources/camunda/judgement_by_admission_non_divergent_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RequestNonDivergentJudgementByAdmissionTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1007

#1004 CIV-12870 Camunda PR - Docmosis template for Defendant LiP PIN in Post Letter - Judgment by admission
  src/main/resources/camunda/judgement_by_admission_non_divergent_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RequestNonDivergentJudgementByAdmissionTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-1004

#1000 CIV-12857 Judgment by admission docmosis
  src/main/resources/camunda/judgement_by_admission_non_divergent_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RequestNonDivergentJudgementByAdmissionTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-1000

#1005 CIV-13791 Defendant LiP dashboard notifications judgment by determination issued
  src/main/resources/camunda/record_judgment_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RecordJudgmentDeterminationMeansNotificationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1005

#1012 CIV-13693 Add case progression flag
  src/main/resources/camunda/applicant_trial_ready_notify_others.bpmn
  src/main/resources/camunda/bundle_creation_notification.bpmn
  src/main/resources/camunda/create_sdo.bpmn
  src/main/resources/camunda/generate_hearing_notice.bpmn
  src/main/resources/camunda/generate_order_notification.bpmn
  src/main/resources/camunda/generate_trial_ready_document_applicant.bpmn
  src/main/resources/camunda/generate_trial_ready_document_respondent1.bpmn
  src/main/resources/camunda/hearing_fee_unpaid.bpmn
  src/main/resources/camunda/hearing_process.bpmn
  src/main/resources/camunda/notify_lip_generic_template.bpmn
  src/main/resources/camunda/respondent1_trial_ready_notify_others.bpmn
  src/main/resources/camunda/trial_ready_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplicantTrialReadyNotifyOthersTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BundleCreationNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateSDOTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateHearingNoticeTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateTrialReadyDocumentApplicantTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateTrialReadyDocumentRespondent1Test.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingFeeUnpaidTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingProcessTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/Respondent1TrialReadyNotifyOthersTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/TrialReadyNotificationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1012

#1017 CIV-13924 - Remove Lip Breathing space changes
  src/main/resources/camunda/breathing_space_lifted_lip.bpmn
  src/main/resources/camunda/enter_breathing_space_lip.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BreathingSpaceLiftedLipTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/EnterBreathingSpaceLipTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1017

#1028 CIV-0000 Move env variables to use them in smoke test call
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1028

#1016 CIV-14010 Camunda PR for Email notification: Defendant LR Claim Paid in Full
  src/main/resources/camunda/settle_claim_paid_in_full_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/SettleClaimPaidInFullNotificationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1016

#1023 CIV-14091 https://tools.hmcts.net/jira/browse/CIV-14091
  src/main/resources/camunda/apply_noc_decision_defendant_lip.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplyNocDecisionDefendantLipTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1023

#1020 CIV-9441 Update GA flows for CUI dashboard
  src/main/resources/camunda/end_general_application_business_process.bpmn
  src/main/resources/camunda/initiate_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GeneralApplicationJudgeMakesOrderAfterHearingTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationAfterPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RespondToAddlnInfoGeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RespondToDirectionsGeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RespondToWrittenRepGeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RespondentResponseGeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadAdditionalDocumentsGenAppTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1020

#1013 CIV-12881 Email notifications Judgment by admission
  src/main/resources/camunda/judgement_by_admission_non_divergent_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RequestNonDivergentJudgementByAdmissionTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1013

#1015 CIV-10580 Judgment by determination docmosis
  src/main/resources/camunda/record_judgment_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RecordJudgmentDeterminationMeansNotificationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1015

#1026 CIV-13715 Notification RfR recipient
  src/main/resources/camunda/request_for_reconsideration_cui_claimant.bpmn
  src/main/resources/camunda/request_for_reconsideration_cui_defendant.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RequestForReconsiderationCuiClaimantTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RequestForReconsiderationCuiDefendantTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-1026

#1030 CIV-13717 - decision on reconsideration dashboard
  src/main/resources/camunda/notify_decision_on_reconsideration_request.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyDecisionOnReconsiderationRequestTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-1030
