Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2024-07, with the labels that each got.

#1031 CIV-14169 new camunda outcome
  src/main/resources/camunda/decision_outcome.bpmn
  src/main/resources/camunda/generate_order_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DecisionOutcomeTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateOrderNotificationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1031

#1034 CIV-14124 - translated order notification
  src/main/resources/camunda/upload_translated_document_order_notice.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedDocumentOrderNoticeTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1034

#1040 CIV-14295 Claimant LR Email notification: please resubmit discontinuance
  src/main/resources/camunda/validate_discontinue_claim_claimant.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ValidateDiscontinueClaimClaimantTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1040

#1038 CIV-14244 LR Email notification Notice of Discontinuance
  src/main/resources/camunda/discontinue_claim_claimant.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DiscontinueClaimClaimantTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1038

#1035 CIV-14193 Bulk print translated order
  src/main/resources/camunda/upload_translated_document_order_notice.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedDocumentOrderNoticeTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1035

#1014 CIV-14009 Defendant LiP Claim Paid in Full Letter
  src/main/resources/camunda/settle_claim_paid_in_full_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/SettleClaimPaidInFullNotificationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1014

#1043 CIV-14552 VALIDATE_DISCONTINUE_CLAIM_CLAIMANT event: notifications
  src/main/resources/camunda/validate_discontinue_claim_claimant.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ValidateDiscontinueClaimClaimantTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1043
