Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2024-02, with the labels that each got.

#854 CIV-0000 sprint branch
  src/main/resources/camunda/notify_decision_on_reconsideration_request.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyDecisionOnReconsiderationRequestTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-854

#855 CIV-12265 Email Notification to Claimant LiP in Bilingual Claim Issue
  src/main/resources/camunda/create_claim_spec_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecAfterPaymentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-855

#846 CIV-11543 case state and notify respondent
  src/main/resources/camunda/upload_translated_claimant_intention_document_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimantIntentionDocumentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-846

#858 CIV-12285 Claim Issue submit notifications - translated documents uploaded
  src/main/resources/camunda/upload_translated_document_claim_issue_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimIssueDocumentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-858

#859 CIV-12281 claimant intention translated doc notifications
  src/main/resources/camunda/upload_translated_claimant_intention_document_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimantIntentionDocumentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-859

#863 CIV-12045 - Work allocation to CTSC Case worker : Case work enter the Judgement manually
  config/owasp/suppressions.xml
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/main/resources/camunda/upload_translated_claimant_intention_document_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimantIntentionDocumentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-863

#860 CIV-11807 - SDO DMN for Part Admit Journeys/ Defence journey - Release 2
  config/owasp/suppressions.xml
  src/main/resources/camunda/upload_translated_claimant_intention_document_notify.bpmn
  src/main/resources/camunda/upload_translated_document_claim_issue_notify.bpmn
  src/main/resources/camunda/upload_translated_document_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyTranslatedDocumentUploadedTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimIssueDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimantIntentionDocumentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-860

#867 CIV-12552 HwF Notification
  src/main/resources/camunda/notify_claimant_hwf_outcome.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyClaimantHWFTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-867

#736 CIV-10982 Add UpdateNextHearingInfo Event
  bin/add-roles.sh
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-736

#874 CIV-12654 Claim fee required dashboard notification
  src/main/resources/camunda/create_lip_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimLipTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-874

#869 CIV-12741 Claim Issue in Welsh - Send RPA
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/main/resources/camunda/upload_translated_claimant_intention_document_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimantIntentionDocumentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-869
