Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2025-04, with the labels that each got.

#1236 CIV-16999 - GA activity still available after claim moves offline when in state - Awaiting Further Information
  src/main/resources/camunda/defendant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1236

#1243 CIV-17037 - Pre-requisite changes for work allocating to WLU
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1243

#1245 CIV-17040 Do not generate DQ if full defence not proceed
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1245

#1214 DTSCCI-1461 Notification spike
  src/main/resources/camunda/add_defendant_litigation_friend.bpmn
  src/main/resources/camunda/claim_dismissed.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/AddDefendantLitigationFriendTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimDismissedTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1214

#1249 CIV-16832 Pause SDO notifications etc. when bilingual party
  src/main/resources/camunda/create_sdo.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateSDOTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1249

#1247 CIV-15925 Reset PIN Event trigger Lip notify email
  src/main/resources/camunda/notify_lip_reset_pin.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/NotifyLipResetPinTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-1247
