Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2025-06, with the labels that each got.

#1282 DTSCCI-2255 Implement Run Failed Tests on PR
  Jenkinsfile_CNP
  bin/run-api-tests.sh
  bin/run-nightly-api-tests.sh
  build.gradle
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-camunda-pr-1282

#1286 DTSCCI-2255 Archive Test Artifacts Always
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-camunda-pr-1286

#1279 CIV-16875 - Manual Hearing Notice - Delay notifications and visibility of document after translation uploaded (includes show element)
  src/main/resources/camunda/hearing_process.bpmn
  src/main/resources/camunda/upload_translated_hearing_notice.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingProcessTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedHearingNoticeDocTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1279, runFailedTestFiles

#1242 DTSCCI-1993 Refactor Apply Help With Hearing Fee BPMN
  src/main/resources/camunda/apply_help_with_hearing_fee.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplyHelpWithHearingFeeTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1242

#1260 DTSCCI-2074 - Refactor generate_DJ_form.bpmn with generic notify_event
  src/main/resources/camunda/generate_DJ_form.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateDJFormTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1260, runFailedTestFiles

#1294 DTSCCI-2265 use oci endpoint
  charts/civil-camunda/Chart.yaml
  charts/civil-camunda/values.aat.template.yaml
  charts/civil-camunda/values.preview.template.yaml
  charts/civil-camunda/values.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1294

#1256 DTSCCI-2079 Refactor Create Claim After Payment BPMN
  src/main/resources/camunda/create_claim_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimAfterPaymentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1256, runFailedTestFiles

#1289 CIV-16914 welsh translations for application summary
  src/main/resources/camunda/initiate_general_application_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationAfterPaymentForWelshTest.java
Labels: ns:civil, prd:civil, stale, runFailedTestFiles, rel:civil-camunda-pr-1289

#1257 DTSCCI-2085 Refactor Defedant response spec bpmn to use generic notify event
  src/main/resources/camunda/defendant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1257

#1301 CIV-17132 pause in defendant response journey li p v lr
  config/owasp/suppressions.xml
  src/main/resources/camunda/defendant_response_spec.bpmn
  src/main/resources/camunda/upload_translated_defendant_sealed_form.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedSealedFormForLipVsLrTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-camunda-pr-1301

#1312 DTSCCI-2334 Make Run Failed Tests Permanent In PR And Master
  Jenkinsfile_CNP
  bin/run-api-tests.sh
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1312

#1302 DTSCCI-2281 Refactor Take Case Offline
  src/main/resources/camunda/take_case_offline.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/TakeCaseOfflineTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-camunda-pr-1302

#1272 DTSCCI-2177 - Notification Refactor Claimant Response CUI
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1272
