Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2025-03, with the labels that each got.

#1202 CIV-16651 Lip vs LIP Count Calculator Accept should go to JBA
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1202

#1209 DTSCCI-1691 bump chart
  charts/civil-camunda/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1209

#1201 CIV-16534 Respond to query LR email notification
  src/main/resources/camunda/respond_to_query.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RespondToQueryTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1201

#1215 CIV-0000 assign COURT_LOCATION_WA_DMN_ENABLED: false
  charts/civil-camunda/values.aat.template.yaml
  charts/civil-camunda/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1215

#1212 CIV-16344 Bulk print for defendant when LiP v LR
  bin/add-roles.sh
  src/main/resources/camunda/generate_order_notification.bpmn
  src/main/resources/camunda/upload_translated_document_order_notice.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedDocumentOrderNoticeTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1212

#1198 DTSCCI-1500 Suppress Judgment document for the LIP V LIP cui Journey
  src/main/resources/camunda/generate_non_divergent_spec_DJ_form.bpmn
  src/main/resources/camunda/generate_spec_DJ_form.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateNonDivergentSpecDJFormTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-camunda-pr-1198

#1224 CIV-16911 - Update TaskList when Take Case offline submitted for Lip v Lip claim
  src/main/resources/camunda/take_case_offline.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/TakeCaseOfflineTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1224

#1217 CIV-16804 allow Lip v LR claims bulk print
  src/main/resources/camunda/generate_hearing_notice.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateHearingNoticeTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1217

#1228 DTSCCI-000 reflect correct process name
  src/main/resources/camunda/apply_noc_decision_defendant_lip.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1228
