Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2025-02, with the labels that each got.

#1188 CIV-16413 Generate DQ for non-full admit only
  src/main/resources/camunda/defendant_response.bpmn
  src/main/resources/camunda/defendant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1188

#1190 CIV-15960 defendant lip noc email notifications
  src/main/resources/camunda/apply_noc_decision.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplyNocDecisionTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1190

#1189 CIV-16427 Remove Sending DJ Letters to LR
  src/main/resources/camunda/generate_non_divergent_spec_DJ_form.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateNonDivergentSpecDJFormTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1189

#1191 CIV-16243 allow bulk print LIP v LR cases
  src/main/resources/camunda/generate_hearing_notice.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateHearingNoticeTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1191

#1194 CIV-16001 - Trigger email notification to claimant LiP when an admission is submitted by defendant LR
  src/main/resources/camunda/defendant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1194

#1196 CIV-16324 Bulk Print Hearing Notice To Claimant LIP
  src/main/resources/camunda/hearing_process.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/HearingProcessTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1196

#1204 CIV-16638 Added new event to trigger main case when varyJudgement app…
  src/main/resources/camunda/respondent_response_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RespondentResponseGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1204
