Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2025-07, with the labels that each got.

#1231 DTSCCI-1845 Refactor case proceeds in caseman to notify all parties in same event
  src/main/resources/camunda/case_proceeds_in_caseman.bpmn
  src/main/resources/camunda/case_proceeds_in_caseman_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CaseProceedsInCasemanTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-1231

#1325 CIV-17355 Add task for removing payment notification
  src/main/resources/camunda/create_claim_spec_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateClaimSpecAfterPaymentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1325

#1327 CIV-17344 Notify parties only after translation
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/main/resources/camunda/upload_translated_claimant_intention_document_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimantIntentionDocumentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1327

#1308 DTSCCI-2315 Change defendant_response_cui.bpmn to use NOTIFY_EVENT to notify all parties in one event
  src/main/resources/camunda/defendant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseCuiTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-1308

#1232 DTSCCI-1864 Change create_sdo.bpmn so that it notifies all parties in one event.
  src/main/resources/camunda/create_sdo.bpmn
  src/main/resources/camunda/defendant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CreateSDOTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1232, runFailedTestFiles

#1337 DTSCCI-2334 Implement Run Failed Tests as Default Behaviour to Master and PR
  Jenkinsfile_CNP
  bin/run-api-tests.sh
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1337

#1280 DTSCCI-2183 DTSCCI-2184 Mediation successful and unsuccessful journeys updated to use notify_event
  src/main/resources/camunda/mediation_successful.bpmn
  src/main/resources/camunda/mediation_unsuccessful.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/MediationSuccessfulTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/MediationUnsuccessfulTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1280

#1326 CIV-16918 written representation ticket
  src/main/resources/camunda/judge_makes_decision_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/JudgeMakesDecisionWelshGeneralApplicationTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-camunda-pr-1326

#1230 DTSCCI-1769 Amend bundle creation notification bpmn to notify all parties in same event
  src/main/resources/camunda/bundle_creation_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BundleCreationNotificationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1230

#1332 CIV-16919 Add flow for post translation judge decision
  src/main/resources/camunda/upload_translated_document_ga_judge_decision.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedDocumentGaJudgeDecisionTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1332

#1263 DTSCCI-2030 Refactor apply_noc_decision_defendant_lip.bpmn with generic notify_event
  src/main/resources/camunda/apply_noc_decision_defendant_lip.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplyNocDecisionDefendantLipTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1263
