Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2025-08, with the labels that each got.

#1343 DTSCCI-2278 Migrate Cases bpm
  src/main/resources/camunda/migrate_cases_scheduler.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1343

#1350 CIV-17540 add rpa judgment paid in full
  src/main/resources/camunda/judgement_paid_in_full.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/JudgementPaidInFullTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1350

#1356 CIV-17589 - GA not moving offline when Main Claim moves offline post NoC
  src/main/resources/camunda/apply_noc_decision_defendant_lip.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplyNocDecisionDefendantLipTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1356

#1346 CIV-17107 - Delete notifications regarding awaiting payment when application is paused
  src/main/resources/camunda/initiate_general_application_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationAfterPaymentForWelshTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1346
