Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2025-01, with the labels that each got.

#1177 CIV-16291 Notify defendant Lip - marked as paid in full
  src/main/resources/camunda/settle_claim_paid_in_full_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/SettleClaimPaidInFullNotificationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1177

#1168 CIV-15959 - Defendant Notice of Change submission - Check case state
  src/main/resources/camunda/apply_noc_decision_defendant_lip.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ApplyNocDecisionDefendantLipTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1168

#1178 CIV-15998 - Check defendant LR response upon submission of defendant response to claimant LiP
  src/main/resources/camunda/defendant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1178

#1180 CIV-16361 Send respondent notification if free application
  src/main/resources/camunda/initiate_general_application.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1180

#1165 CIV-15265 Order Review Obligation Check Scheduler
  src/main/resources/camunda/order_review_obligation_check_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/OrderReviewObligationCheckSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1165

#1153 CIV-15640 add new camunda Court Officer Order
  src/main/resources/camunda/court_officer_order.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CourtOfficerOrderTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-1153

#1158 CIV-15646 add dashboard notifications
  src/main/resources/camunda/court_officer_order.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CourtOfficerOrderTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1158

#1176 CIV-15871 Confirm order review update tasklist
  src/main/resources/camunda/confirm_order_review_final_order.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ConfirmOrderReviewFinalOrderTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1176

#1175 CIV-15723 - trial ready check bpmn
  src/main/resources/camunda/trial_ready_check.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/TrialReadyCheckTest.java
Labels: ns:civil, prd:civil

#1179 CIV-15750 Generate JBA docs for LIP Def/Claimant docs
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/main/resources/camunda/upload_translated_claimant_intention_document_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimantIntentionDocumentTest.java
Labels: ns:civil, prd:civil

#1182 CIV-15753 Judgment by Admission - modify Submission screen
  src/main/resources/camunda/claimant_response_spec.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseSpecTest.java
Labels: ns:civil, prd:civil

#1183 CIV-16322 added ga location update to CUI claimant response journey
  charts/civil-camunda/values.aat.template.yaml
  charts/civil-camunda/values.preview.template.yaml
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-camunda-pr-1183
