Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2025-05, with the labels that each got.

#1253 CIV-16888 - check for EnglishToWelsh
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/main/resources/camunda/defendant_response_cui.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/DefendantResponseCuiTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1253

#1248 DTSCCI-2045 Refactor generate_order.bpmn and court_officer_order.bpmn with generic notify_event
  src/main/resources/camunda/court_officer_order.bpmn
  src/main/resources/camunda/generate_order_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/CourtOfficerOrderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/GenerateOrderNotificationTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1248

#1264 CIV-16867 - Delay notifications and visibility of Manual Determination document (includes show element)
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/main/resources/camunda/upload_translated_document_claimant_rejects_repayment_plan.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimantsRejectsRepaymentPlanDocumentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1264

#1268 DTSCCI-1526 Update acknowledge claim unspec bpmn to use common notify event
  src/main/resources/camunda/acknowledge_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/AcknowledgeClaimTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1268

#1259 CIV-16922 Query response dashboard notification
  src/main/resources/camunda/respond_to_query.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RespondToQueryTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1259

#1213 DTSCCI-1700 migrate case location epim id
  src/main/resources/camunda/retrigger_update_location_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RetriggerUpdateLocationSchedulerTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1213
