Repository hmcts/civil-camunda-bpmn-definition, pull requests merged in 2025-09, with the labels that each got.

#1360 CIV-17599 staff access to the application
  src/main/resources/camunda/initiate_general_application.bpmn
  src/main/resources/camunda/initiate_general_application_after_payment.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationAfterPaymentForWelshTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/InitiateGeneralApplicationWelshTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1360

#1362 DTSCCI-2366 Revert CIV-17556 FA Pay Immediately CCJ request
  src/main/resources/camunda/claimant_response_full_admit_immediate_ccj.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseFullAdmitPayImmediatelyCCJTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1362

#1367 DTSCCI-2716 fix ttl check
  .github/workflows/validate.yml
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1367

#1363 CIV-17654 Claimant JBA Letter
  src/main/resources/camunda/claimant_response_cui.bpmn
  src/main/resources/camunda/judgment_by_admission_non_divergent_spec.bpmn
  src/main/resources/camunda/upload_translated_claimant_intention_document_notify.bpmn
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/ClaimantResponseCuiTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/RequestNonDivergentJudgmentByAdmissionTest.java
  src/test/java/uk/gov/hmcts/reform/civil/bpmn/UploadTranslatedClaimantIntentionDocumentTest.java
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1363

#1371 DTSCCI-0000 Update renovate.json
  .github/renovate.json
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1371

#1372 DTSCCI-2645 Add incident retry scheduler
  src/main/resources/camunda/open_incident_retry_scheduler.bpmn
Labels: ns:civil, prd:civil, rel:civil-camunda-pr-1372
